body {
  width: 100vw;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #808080;
  background-color: #F5F5F5; }

h4 {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #1E1E1E;
  padding-top: 1rem;
  margin-bottom: 1rem; }

a {
  text-decoration: none !important; }

.large-txt {
  font-size: 20px;
  line-height: 24px; }

header {
  height: 55px;
  background: #4A94FF;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10; }
  header + #main {
    /*min-height: 80vh;*/
    margin-top: 55px;
    max-height: calc(100vh - 55px);
    overflow-y: auto; }
  header .navbar {
    justify-content: flex-start;
    padding: 0 1rem;
    height: 55px; }
  header .navbar-brand, header .page-title {
    order: 1;
    color: #ffffff;
    font-size: 17px;
    line-height: 20px; }
  header .navbar-toggler {
    order: 0;
    border: 0;
    padding: 0;
    margin-right: 20px; }
    header .navbar-toggler .navbar-toggler-icon {
      background-image: url(../images/navbar_mobile.png); }
  header .navbar-collapse {
    position: fixed;
    left: -290px;
    top: 0;
    width: 288px;
    height: auto;
    z-index: 2;
    min-height: 555px;
    transition: all 200ms; }
    header .navbar-collapse.show {
      left: 0;
      transition: all 200ms; }
      header .navbar-collapse.show .menu-overlay {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: -1; }
    header .navbar-collapse > .bg-blue {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29); }
      header .navbar-collapse > .bg-blue img {
        margin: 0.5rem; }
    header .navbar-collapse .menu-style {
      background: #fff;
      padding: 0.5rem 1rem;
      max-height: calc(100vh - 82px);
      min-height: 420px;
      overflow-y: auto; }
      header .navbar-collapse .menu-style .nav-item .nav-link {
        padding: 1rem;
        padding-left: 2rem;
        background-size: 24px auto !important;
        color: #1E1E1E;
        font-size: 15px;
        line-height: 20px; }
        header .navbar-collapse .menu-style .nav-item .nav-link.nav-home {
          background: url(../images/home.png) no-repeat left transparent; }
        header .navbar-collapse .menu-style .nav-item .nav-link.nav-statistical {
          background: url(../images/pie_chart.png) no-repeat left transparent; }
        header .navbar-collapse .menu-style .nav-item .nav-link.nav-history {
          background: url(../images/history.png) no-repeat left transparent; }
        header .navbar-collapse .menu-style .nav-item .nav-link.nav-support {
          background: url(../images/support.png) no-repeat left transparent;
          border-top: 1px solid #C9C9C9; }
        header .navbar-collapse .menu-style .nav-item .nav-link.nav-reset-pass {
          background: url(../images/reset-pass.png) no-repeat left transparent; }
        header .navbar-collapse .menu-style .nav-item .nav-link.nav-logout {
          padding-left: 0; }
      header .navbar-collapse .menu-style .nav-item.active .nav-link {
        color: #4A94FF; }
  header .btn-back {
    display: inline-block;
    margin-right: 1rem; }

body.no-prescription header + .main {
  overflow-y: hidden; }

body.loading {
  background-color: #4A94FF;
  height: 100vh; }

body.loading img {
  display: block;
  margin: 0 auto; }

.bg-blue {
  background-color: #4A94FF;
  color: #ffffff; }

.bg-white {
  background-color: #ffffff; }

.form-control {
  height: 44px;
  border: 1px solid #C9C9C9;
  border-radius: 6px;
  color: #1E1E1E;
  font-size: 15px;
  line-height: 18px; }

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem); }

textarea.form-control {
  height: auto; }

.btn {
  background-color: #4A94FF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.42);
  border-radius: 24px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #FFFFFF !important;
  text-transform: uppercase;
  padding: 12px 25px; }

.btn-primary {
  background: #F35353;
  border-color: #F35353; }

.btn-white {
  background-color: #FFFFFF;
  color: #4A94FF !important;
  border-color: #4A94FF; }

.modal.show .modal-dialog {
  margin-top: 30vh;
  margin-bottom: 0; }
  @media (min-width: 480px) {
    .modal.show .modal-dialog {
      margin-top: 15vh; } }

.modal .modal-header {
  padding-top: 2rem;
  justify-content: center;
  border-bottom: 0; }
  .modal .modal-header .close {
    position: absolute;
    top: 7px;
    right: 10px; }

.modal .modal-body {
  text-align: center; }
  .modal .modal-body h4 {
    padding: 0;
    margin: 0; }

.modal .modal-footer {
  padding-bottom: 2rem;
  justify-content: center;
  border-top: 0; }
  .modal .modal-footer .btn {
    min-width: 135px; }
  .modal .modal-footer .btn-large {
    min-width: 220px; }

body.login {
  background-image: url("../images/login_bg.png");
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh; }
  body.login .form-wrap {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #0000002E;
    border-radius: 12px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem 1rem; }
  body.login .login-form a.link {
    color: #808080;
    margin: 0.65rem 0;
    display: inline-block; }
  body.login .login-form input[type="email"] {
    padding-left: 3rem;
    background: url(../images/email.png) no-repeat 1rem center;
    background-size: 17px; }
  body.login .login-form input[type="password"] {
    padding-left: 3rem;
    background: url(../images/padlock.png) no-repeat 1.15rem 10px;
    background-size: 13px; }
  body.login .bg-absolute {
    width: 100%;
    height: 240px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; }

.fixed-button {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  padding: 1rem;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.29);
  z-index: 9; }
  .fixed-button .d-flex {
    justify-content: space-between;
    color: #1E1E1E; }
  .fixed-button p:last-child {
    margin-bottom: 0; }

.content-inner {
  height: 100%;
  overflow-y: auto; }

.dashboard #main {
  margin-bottom: 5rem;
  /*max-height: 80vh;
		overflow-y: auto;*/ }
  .dashboard #main > .container {
    height: 100%;
    max-height: 100%; }
  .dashboard #main .dashboard-inner {
    height: calc(100vh - 190px); }
    .dashboard #main .dashboard-inner .no-prescription {
      padding-top: 1rem;
      padding-bottom: 1rem; }
      .dashboard #main .dashboard-inner .no-prescription .prescription-icon {
        margin-bottom: 1rem; }

.prescription-form {
  width: 100%; }
  .prescription-form .form-group {
    position: relative;
    padding-top: 10px; }
    .prescription-form .form-group .input-label {
      display: inline-block;
      font-size: 13px;
      line-height: 15px;
      background-color: #ffffff;
      padding: 0 10px;
      position: absolute;
      left: 5px;
      top: 24px;
      transition: all 200ms;
      z-index: 0; }
    .prescription-form .form-group input, .prescription-form .form-group textarea {
      z-index: 1;
      position: relative;
      background: transparent;
      outline: none !important;
      box-shadow: none !important;
      border-color: #C9C9C9 !important; }
    .prescription-form .form-group input:focus ~ .input-label, .prescription-form .form-group input:valid ~ .input-label {
      top: 1px;
      transition: all 200ms;
      z-index: 2; }
    .prescription-form .form-group textarea:focus + grammarly-extension + .input-label, .prescription-form .form-group textarea:valid + grammarly-extension + .input-label {
      top: 1px;
      transition: all 200ms;
      z-index: 2; }
    @supports (-webkit-appearance: none) {
      .prescription-form .form-group textarea:focus ~ .input-label, .prescription-form .form-group textarea:valid ~ .input-label {
        top: 1px;
        transition: all 200ms;
        z-index: 2; } }
    .prescription-form .form-group.form-file {
      padding-bottom: 20px; }
      .prescription-form .form-group.form-file .input-label {
        border: 1px dashed #707070;
        width: 100%;
        text-align: center;
        padding: 1.4rem 1rem;
        position: static;
        color: #1C68D6;
        font-size: 15px;
        line-height: 18px; }
        .prescription-form .form-group.form-file .input-label img {
          display: inline-block;
          margin-right: 10px; }
      .prescription-form .form-group.form-file input[type="file"] {
        opacity: 0;
        position: absolute;
        bottom: 0;
        height: 70px;
        width: 100%;
        z-index: 2; }
      .prescription-form .form-group.form-file .img-selected {
        margin-bottom: 0; }
        .prescription-form .form-group.form-file .img-selected > span {
          background: #F1F1F1;
          width: 55px;
          height: 55px;
          border: 1px solid #707070;
          display: inline-block;
          margin-right: 1rem;
          margin-bottom: 1rem;
          position: relative;
          text-align: center;
          overflow: hidden; }
          .prescription-form .form-group.form-file .img-selected > span .remove-img {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url("../images/close.png");
            background-size: cover;
            position: absolute;
            top: -1px;
            right: -1px; }

.prescription-status {
  line-height: 20px;
  font-size: 12px;
  color: #ffffff;
  background-color: #4A94FF;
  border-radius: 10px;
  padding: 0 1rem;
  display: inline-block;
  float: right; }
  .prescription-status.canceled {
    background-color: #FF5050; }
  .prescription-status.completed {
    background-color: #26CD7A; }

.prescription-item {
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.29);
  border-radius: 4px;
  margin: 0 0 1rem;
  background-color: #ffffff; }
  .prescription-item > a {
    display: block;
    padding: 1rem;
    color: #1E1E1E;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none !important; }
  .prescription-item .prescription-id {
    margin-bottom: 10px;
    display: inline-block; }
  .prescription-item .grey-txt {
    margin-bottom: 7px; }

.grey-txt {
  color: #8B8B8B !important; }

.blue-txt {
  color: #4A94FF !important; }

.file-details-page {
  padding-top: 1rem;
  padding-bottom: 6rem; }
  .file-details-page p {
    color: #1E1E1E; }
    .file-details-page p.grey-txt {
      margin-bottom: 7px; }

.statistical-inner > .container {
  margin-top: 1rem;
  background-color: #ffffff; }
  .statistical-inner > .container:first-child {
    margin-top: 1.5rem; }
  .statistical-inner > .container ul {
    list-style: none;
    padding-left: 0; }
    .statistical-inner > .container ul li + li {
      border-top: 1px solid #8B8B8B; }

.statistical-inner .statistical-item {
  color: #1E1E1E;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0; }
  .statistical-inner .statistical-item .status {
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 10px;
    background-color: rgba(74, 148, 255, 0.48); }
    .statistical-inner .statistical-item .status.canceled {
      background-color: rgba(255, 123, 123, 0.48); }
    .statistical-inner .statistical-item .status.completed {
      background-color: rgba(15, 219, 117, 0.48); }
  .statistical-inner .statistical-item .arrow-icon {
    width: 10px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    background-image: url("../images/right-arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

body.create-file {
  height: 100vh;
  overflow: hidden; }
  body.create-file #main {
    margin-bottom: 5rem; }
    body.create-file #main > .container {
      height: calc(100vh - 130px);
      overflow-y: auto; }
      body.create-file #main > .container .content-inner {
        height: auto; }

body.register .left-banner {
  background-image: url(../images/login_bg.png);
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh; }
  body.register .left-banner #main {
    position: relative;
    padding-bottom: 3rem; }
  body.register .left-banner .bg-absolute {
    width: 100%;
    height: 240px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0; }
  body.register .left-banner .logo-wrap {
    position: relative;
    z-index: 2;
    color: #ffffff;
    padding-top: 2rem; }
    body.register .left-banner .logo-wrap p {
      margin-bottom: 0.5rem; }
  body.register .left-banner .form-wrap {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #0000002E;
    border-radius: 12px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem 1rem;
    position: relative;
    z-index: 2; }

body.register .right-banner {
  display: none; }

body.register .register-form {
  width: 100%; }
  body.register .register-form .form-group {
    position: relative;
    padding-top: 10px; }
    body.register .register-form .form-group .input-label {
      display: inline-block;
      font-size: 13px;
      line-height: 15px;
      background-color: #ffffff;
      padding: 0 10px;
      position: absolute;
      left: 5px;
      top: 24px;
      transition: all 200ms;
      z-index: 0; }
    body.register .register-form .form-group input, body.register .register-form .form-group textarea {
      z-index: 1;
      position: relative;
      background: transparent;
      outline: none !important;
      box-shadow: none !important;
      border-color: #C9C9C9 !important; }
    body.register .register-form .form-group input:focus + .input-label, body.register .register-form .form-group input:valid + .input-label {
      top: 1px;
      transition: all 200ms;
      z-index: 2; }
    body.register .register-form .form-group textarea ~ .input-label {
      top: 1px;
      transition: all 200ms;
      z-index: 2; }

body.register .register-successful > div {
  min-height: 350px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: #1E1E1E; }
  body.register .register-successful > div h3 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px; }
  body.register .register-successful > div p {
    font-size: 15px;
    line-height: 22px;
    max-width: 320px;
    margin: 1rem auto 2rem; }
  body.register .register-successful > div .btn {
    min-width: 180px; }

@media (min-width: 769px) {
  body.register {
    width: auto;
    background-color: #F5F7FB; }
    body.register .register-inner {
      display: flex;
      flex-wrap: wrap;
      max-width: 1260px;
      margin: 0 auto; }
    body.register .left-banner {
      flex: 0 0 45%; }
    body.register .right-banner {
      display: inline-flex;
      flex: 0 0 55%;
      padding: 2.5%;
      align-items: center; }
      body.register .right-banner img {
        margin-bottom: 15%; } }

.reset-pass-form {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem; }
